[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
oapackage = "*"
argh = "*"
tqdm = "*"
mldoe = "*"
numba = "*"
matplotlib = "*"
autopep8 = "*"
pandas = "*"
openpyxl = "*"
csw93 = "*"

[dev-packages]

[requires]
python_version = "3.8"
